.dropdown-submenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu {
    left: 100%;
    /* -6px gives dropdown-menu's padding+border */
    top: -10px;
    left:-100%;

}

.dropdown-submenu:hover > .dropdown-menu, .dropdown-submenu > a:focus + .dropdown-menu {
    /* :focus support is incomplete - pressing Tab sets focus to submenu, but that immediately hides submenu */
    display: block;

}
